<div class="products-grid">
  <div class="product-card shimmer-card" *ngFor="let _ of shimmerCards">
    <div class="product-image-container shimmer-bg"></div>

    <div class="product-info">
      <div class="shimmer-line title"></div>
      <div class="shimmer-line desc"></div>
      <div class="shimmer-line desc short"></div>

      <div class="product-details-row">
        <div class="shimmer-line price"></div>
        <div class="shimmer-button"></div>
      </div>
    </div>
  </div>
</div>
