<div class="category-filter">
  <h3 class="category-title">Categories</h3>

  <div *ngIf="!loading" class="category-options">
    <div *ngFor="let category of categories" class="category-option">
      <input
        id="{{ category }}"
        type="radio"
        [value]="category"
        [(ngModel)]="selectedCategory"
        (change)="onCategoryChange(category)"
      />
      <label for="{{ category }}">{{
        category.charAt(0).toUpperCase() + category.slice(1)
      }}</label>
    </div>
  </div>
</div>
