<div class="product-details-container" *ngIf="!loading && product">
  <button class="back-btn" (click)="goBack()">
    <i class="pi pi-arrow-left"></i>
  </button>

  <div class="details-layout">
    <div class="image-wrapper">
      <img [src]="product.images[0]" [alt]="product.title" />
    </div>

    <div class="product-info">
      <div class="info-text">
        <h2 class="title">{{ product.title }}</h2>
        <p class="description">{{ product.description }}</p>
        <p class="category">
          <!--use pipe here custom-->
          <span>{{ product.category.toUpperCase() }}</span>
        </p>
        <p class="price">${{ product.price }}</p>
      </div>
      <button class="add-to-cart">Add to Cart</button>
    </div>
  </div>
</div>
