<div class="products-page">
  <div class="right-filters">
    <app-price-slider
      [minPrice]="minPrice"
      [maxPrice]="maxPrice"
      (priceRangeChange)="onPriceRangeChange($event)"
    ></app-price-slider>

    <app-category-filter
      [initialSelectedCategory]="selectedCategory"
      (categorySelected)="onCategoryChange($event)"
    ></app-category-filter>
  </div>

  <div class="products-section">
    @if (loading) {
    <div class="loading">
      <app-product-shimmer></app-product-shimmer>
    </div>
    }

    <div class="product-header">
      <app-sorting-filter
        [initialSortOrder]="filters.order"
        (sortChange)="onSortChange($event)"
      ></app-sorting-filter>

      <button
        pButton
        type="button"
        label="{{ CONSTANTS.CLEAR_FILTERS_BUTTON }}"
        icon="pi pi-filter-slash"
        class="p-button-danger p-button-sm"
        (click)="clearFilters()"
      ></button>
    </div>

    @if (!loading && !error && products.length === 0) {
    <div class="no-results">
      <img
        class="no-results-image"
        src="{{ CONSTANTS.NO_RESULTS_IMAGE }}"
        alt="{{ CONSTANTS.NO_RESULTS_ALT }}"
      />
      <p class="no-results-text">{{ CONSTANTS.NO_RESULTS_TEXT }}</p>
    </div>
    } @if (!loading && !error && products.length > 0) {
    <div class="products-grid">
      @for (product of products; track product) {
      <app-product-card [product]="product"></app-product-card>
      }
    </div>

    <app-pagination
      [totalProducts]="totalProducts"
      [shownProducts]="products.length"
      (loadMore)="onLoadMoreProducts()"
    ></app-pagination>
    }
  </div>
</div>
