@use 'mixins.scss' as *;

.app-container {
    height: 100%;
}

.header {
    position: fixed;
    height: var(--header-height);
    width: 100%;
    padding: 15px;
    background-color: var(--card-bg);
    z-index: 999;
    
    h1 {
        cursor: pointer;
        @include typography(
            $font-family: var(--font-primary),
            $font-size: 36px,
            $font-weight: 600,
            $line-height: 100%
        );
        span {
            display: inline-block;
            background: linear-gradient(103.82deg, #0A0D12 -14.41%, var(--accent-color) 46.68%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    border-bottom: 1px solid var(--border-color);
}


.content {
    padding-top: var(--header-height);
}