<div class="products-grid">
  @for (_ of shimmerCards; track $index) {
    <div class="product-card shimmer-card">
      <div class="product-image-container shimmer-bg"></div>

      <div class="product-info">
        <div class="shimmer-line title"></div>
        <div class="shimmer-line desc"></div>
        <div class="shimmer-line desc short"></div>

        <div class="product-details-row">
          <div class="shimmer-line price"></div>
          <div class="shimmer-button"></div>
        </div>
      </div>
    </div>
  }
</div>
